*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  padding: 1rem;
}

a{
  text-decoration: none;
  margin:0.6rem;
  font-size: large;
  transition: 0.3s all ease-in;
  padding: 0.5rem;
  border-radius: 10px;
}

.contact a{
  font-size: xx-large;
}

a:hover{
  background-color: gray;
}

h1, .home{
  padding-top: 1rem;
}
.home, .service, .contact{
  padding: 1rem;
  height: calc(100vh - 156px);
}

.service p{
  margin-top: 1rem;
}

body{
  text-align: center;
  font-family: sans-serif;
}

button{
  background-color: #cc3a69;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s all ease-in;
}

button:hover{
  background-color: #ef618e;
  padding: 0.3rem 0.9rem;
}
button:active{
  padding: 0.4rem 1rem;
  transform: translateY(10px);
}